html{
	font-family: 'Roboto Slab',Serif;
	background-color:#00539F;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;  /*(padding-top, padding-right, padding-bottom, padding-left).*/
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;    /*relleno arriba y abajo del título de 20 pixeles*/
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}